{% extends "base.html" %} {% block content %}
<div class="auth-container">
  <div class="auth-card">
    <h2>Create Your Account</h2>
    <p class="sub-text">Analyze Your Resume with AI</p>
    <form method="POST">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="confirm_password" placeholder="Confirm Password" />

      <p class="sub-text">User at least 6 characters</p>
      <button type="submit">Sign up</button>
    </form>
    <p class="switch-auth">
      Already have an account? <a href="/login">Login</a>
    </p>
  </div>
</div>
{% endblock %}
